:root{
    --primary : #38BDF8;
    --bg-dark: #192B31;
}
*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
header{
    background: var(--bg-dark);
    color: white;
    padding: 25px 96px;
}
nav>ul>li{
    list-style: none;
}
nav>ul>li>a{
    text-decoration: none;
    color:white;
    font-weight: 400;
}
nav>ul>li>a:hover{
    color:var(--primary);
}