:root{
    --primary : #38BDF8;
    --bg-dark: #192B31;
    font-size: 15px;
}
*, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}

button{
    font-weight: 500;
}
.a{
    text-decoration: none;
    color: var(--primary);
    font-weight: 500;
}
header{
    background: var(--bg-dark);
    color: white;
    padding: 18px;
}
.nav .custom-nav-item a{
    padding: 0;
}
.nav .custom-nav-item{
    margin: 0 5px;
    padding: 0 3px;
    transition: border 200ms ease-in-out;
    position: relative;
}
.nav .custom-nav-item::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 2px;
	background-color: var(--primary);
	left: 50%;
	bottom: -2px;
	transition: all 0.4s ease-in-out;
}
.nav .custom-nav-item:hover::after {
	width: 100%;
	left: 0;
}
.nav .custom-nav-item:hover::after {
	width: 100%;
	left: 0;
}

.nav .active-link::after{
    width: 100%;
	left: 0;
}
.nav-pills .nav-item a {
    border: 1px solid rgb(192, 187, 187);
}

.product-card{
    border: 10px solid var(--primary);
    max-width: 300px;
    margin-top: 10px;
}
.product-wrapper{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items:end;
    margin-top: 16px
}
.custom-bullet{
    list-style: none;
}
.custom-bullet li p{
    margin-bottom: 5px;
    font-size: 14px;
}
.mdi{
    font-size: 24px;
}
.menu-btn{
    display: none;
}

.sidebar{
    position: fixed;
    padding: 10px 10px;
    top: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 30;
    height: 100vh;
    overflow-y: scroll;
    scroll-behavior: smooth;
    background: var(--bs-light);
    left: -300px;
}
.sidebar-show{
    left: 0;
}
.sidebar .sidebar-item{
    padding: 8px 16px;
    border-radius: 5px;
    margin-bottom: 5px;
    transition: background 500ms ease-in-out;
}
.sidebar-item:hover{
    background: var(--bs-gray-300);
}
.sidebar .active{
    background: var(--primary);
}
.sidebar .sidebar-item a{
    text-decoration: none;
    color: var(--bs-dark);
    font-weight: 500;
}
@media (min-width: 1440px){
    header{
        padding: 18px 96px;
    }
}
@media (max-width: 1230px){
    .menu-btn{
        display: block;
    }
    .menu{
        display: none;
    }
    header{
        justify-content: space-between;
    }
}

@media (max-width: 520px){
    .partner-btn-hide{
        display: none!important;
    }
}