// customize the default state colors here
// scss-docs-start theme-color-variables
$primary:       #38BDF8 !default;
$secondary: #BAE6FD !default;
$success:       #1abc9c !default;
$info:          #4fc6e1 !default;
$warning:       #f7b84b !default;
$danger:        #f1556c !default;
$light:         #eceff1 !default;
$dark:          #323a46 !default;
// scss-docs-end theme-color-variables