// customize the default state colors here
// scss-docs-start theme-color-variables
$primary:       #38BDF8 !default;
$secondary: #BAE6FD !default;
$success:      #22C55E  !default;//#1abc9c
$info:          #4fc6e1 !default;
$warning:       #f7b84b !default;
$danger:        #f1556c !default;
$light:         #eceff1 !default;
$dark:          #323a46 !default;
// scss-docs-end theme-color-variables


//carousel colors
$carousel-indicator-active-bg: $primary !default;

$carousel-control-next-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#38BDF8'><path d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/></svg>") !default;

$carousel-control-prev-icon-bg:      url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='#38BDF8'><path d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/></svg>") !default;